@import nib

orange = #da552f
red = #c71e21
green = #5e9833

*
  box-sizing border-box

body
  background-color #fff

section
  width 50%
  position relative
  float left
  overflow hidden
  &.right
    background-color orange
    .ph-thumb
      display none
    .ph
      color orange
    &.yes, &.no
      .ph
        padding-top 17px
      .ph-quote
        display none
      .ph-thumb
        transition transform 0.3s ease-out
        transform rotate(0deg)
        display block
    &.yes
      background-color green
      .ph
        color green
    &.no
      background-color red
      .ph
        color red
      .ph-thumb
        transform rotate(180deg)

.ph
  width 80px
  height 80px
  background-color orange
  border-radius 100px
  margin auto
  font-weight bold
  padding-top 25px
  font-size 38px
  color #fff
  text-align center
  .right &
    background-color #fff
    font-size 90px
    .ph-thumb
      font-size 46px

.items
  position relative
  height 140px

.item
  text-align center
  transition 0.5s ease-out
  position absolute
  width 100%
  top 0
  left 0
  .left &
    .container
      transition all 0.2s ease-out 0.3s
      transform scale(0.8)
      opacity 0
    &.fadein .container
      transform scale(1)
      opacity 1
  &.hide
    transition opacity 0.2s ease-out
    opacity 0
    .container
      transition all 0.2s ease-out
      transform scale(0.8)
  h3
    padding-top 30px
    font-size 50px
    margin 0
    margin-bottom 10px
    color #555
    font-family 'Roboto', sans-serif
    font-weight 900
  p
    margin 0
    font-size 20px
    font-weight 300
    color #BBB
    font-family 'Roboto Condensed', sans-serif

.item.next
  animation bounce 0.9s ease-out forwards

@keyframes bounce
  0%
    transform translateX(0%)
  70%
    transform translateX(105%)
  90%
    transform translateX(98%)
  100%
    transform translateX(100%)

.right
  .item
    h3
      color #fff
    p
      color rgba(#fff, 0.5)
  .item
    left -100%
  .score
    text-align center
    margin-top 40px
    font-size 30px
    pointer-events none
    opacity 0
    transition 0.3s ease-out 0.3s
    &.on
      opacity 1
      pointer-events auto
    h4
      color rgba(0,0,0,0.3)
      font-family Roboto
      font-weight 900
      margin 0
    p
      margin 0
      color rgba(255,255,255,0.5)
      margin-top 10px
      font-size 25px
      strong
        color #fff

.center
  height 350px
  top 50%
  margin-top -250px
  width 100%
  position absolute

.buttons
  text-align center
  margin-top 40px
  .button
    background-color #eee
    margin 0 10px
    padding 15px 55px
    border-radius 4px
    font-size 30px
    display inline-block
    cursor pointer
    color #666
    font-family 'Roboto', sans-serif
    text-transform uppercase
    font-weight 900
    &:hover
      cursor pointer
      background-color #d9d9d9
      color #333
    &:active
      background-color darken(orange, 10%)
      box-shadow 0 3px 3px rgba(0,0,0,0.2) inset
      color #fff

.quote-parent
  position relative

.quote
  position absolute
  top 0
  left 0
  width 100%
  &.hide
    opacity 0
    transition all 0.2s ease-out
    transform scale(0.8)
  h3
    text-align center
    font-weight 300
    color rgba(255,255,255,0.5)
    text-transform uppercase
    margin-top 60px
    margin-bottom 15px
    font-family 'Roboto Condensed', sans-serif
  p
    text-align center
    margin 0
    color #fff
    font-style italic
    max-width 480px
    margin auto
    font-size 36px
    line-height 1.3em
    margin-top 20px
    font-family 'Droid Serif', serif
    font-weight 400

.byline
  position absolute
  bottom 0
  text-align center
  left 0
  padding 20px
  width 100%
  color #AAA
  font-family Roboto
  font-size 14px
  line-height 1.5em
  .right &
    color rgba(#fff,0.5)
  p
    margin 0
  a
    color #888
    text-decoration none
    font-weight bold
    &:hover
      color orange
      text-decoration none
    .right &
      color rgba(#fff,0.6)
      &:hover
        color #fff
