extends layout

block content

  section.left
    .center
      .ph P
      .items
        .item.current.fadein
          .container
            h3
            p
      .buttons
        a.button(guess='real') Real
        span.or OR
        a.button(guess='fake') Fake
    .byline
      p Real products from <a href="http://producthunt.com" target="_blank">Product Hunt</a>
      p Fake products from <a href="http://twitter.com/fakeproducthunt" target="_blank">@fakeproducthunt</a>
  section.right
    .byline
      p Created by Gregory Koberger
      p <i class="fa fa-twitter"></i>&nbsp; Follow me at <a href="http://twitter.com/gkoberger" target="_blank">@gkoberger</a>
    .center
      .ph
        .ph-quote &rdquo;
        .ph-thumb.fa.fa-thumbs-o-up
        .ph-readme.fa.fa-book
      .quote-parent
        .quote
          h3 &mdash;&nbsp;&nbsp; The Silicon Valley Rule &nbsp;&nbsp;&mdash;
          p No idea is so crazy that someone, somewhere hasn't built it already.
      .items
        .item.current
          .container
            h3
            p
      .score
        h4 Actually, it is real!
        p Your score is <strong class="update-percent"></strong>. You got <strong class="update-score">0</strong> out of <strong class="update-total">0</strong>.
  #demo.item(style="display: none;")
    .container
      h3
      p
