extends layout

block content

  section.left
    .center
      .ph P
      .items
        .item.current.fadein
          .container
            h3
            p
      .buttons
        a.button(guess='real') Real
        a.button(guess='fake') Fake
  section.right
    .center
      .ph
        .ph-quote &rdquo;
        .ph-thumb.fa.fa-thumbs-o-up
      .quote-parent
        .quote
          h3 &mdash;&nbsp;&nbsp; The Silicon Valley Rule &nbsp;&nbsp;&mdash;
          p No idea is so crazy that someone, somewhere hasn't built it already.
      .items
        .item.current
          .container
            h3
            p
  #demo.item(style="display: none;")
    .container
      h3
      p
