extends layout

block content

  section.left
    .center
      .ph P
      .items
        .item.current.fadein
          .container
            h3
            p
      .buttons
        a.button(guess='real') Real
        span.or OR
        a.button(guess='fake') Fake
    .byline
      p Real products from <a href="http://producthunt.com" target="_blank">Product Hunt</a>
      p Fake products from <a href="http://twitter.com/fakeproducthunt" target="_blank">@fakeproducthunt</a>
  section.right
    .byline
      p Created by Gregory Koberger (<a href="http://twitter.com/gkoberger" target="_blank">@gkoberger</a>)
      p <a href="https://twitter.com/intent/tweet?source=webclient&text=Product+Hunt:+Real+or+Fake%3F+http://realorfake.ph+(by+@gkoberger)&a=" target="_blank"><i class="fa fa-twitter"></i>&nbsp; <span>Share on</span> Twitter</a> &nbsp;&nbsp;&middot;&nbsp;&nbsp; <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://realorfake.ph&p[images][0]=http://realorfake.ph/img/facebook.png&p[title]=Product%20Hunt:%20Real%20or%20Fake%3F&p[summary]=" target="_blank"><i class="fa fa-facebook"></i>&nbsp; <span>Share on</span> Facebook</a>

    .center
      .ph
        .ph-quote &rdquo;
        .ph-thumb.fa.fa-thumbs-o-up
        .ph-readme.fa.fa-book
      .quote-parent
        .quote
          h3 &mdash;&nbsp;&nbsp; The Silicon Valley Rule &nbsp;&nbsp;&mdash;
          p No idea is so crazy that someone, somewhere hasn't built it already.
      .items
        .item.current
          .container
            h3
            p
      .score
        a.btn-next(href="") Keep Playing

        h4 Actually, it is real!
        p Your score is <strong class="update-percent"></strong>. You got <strong class="update-score">0</strong> out of <strong class="update-total">0</strong>.
  #demo.item(style="display: none;")
    .container
      h3
      p
