extends layout

block content
  header
    .container
      .ph P
  section.panel.top
    .item.current
      .container-parent
        .container
          h3 Design Hunt
          p Best products, apps, and inspirations for creatives.
    a.button() GO!
  section.panel.bottom
    .quote
      h3 &mdash;&nbsp;&nbsp; The Silicon Valley Rule &nbsp;&nbsp;&mdash;
      p No idea is so crazy that someone, somewhere isn't raising money for it
    .item.current
      .container-parent
        .container
          h3 Design Hunt
          p Best products, apps, and inspirations for creatives.

  #demo.item(style="display: none;")
    .container-parent
      .container
        h3 Design Hunt
        p Best products, apps, and inspirations for creatives.

